h1 {
    color: #c50c0c;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

h3 {
    color: #3274c0;
    font-family: Arial, sans-serif;
}


.option {
    color: #df1e1e;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ul {
    color: #000000;
    font-family: Arial, sans-serif;
    line-height: 1.6;s
    list-style-type: disc;
    padding-left: 20px;
}
li {
    color: #110f0f;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}